{% load staticfiles %}

    <!-- Carousel
    ================================================== -->
<div id="cover" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static 'img/cover.jpg' %}">
          <div class="rr"></div>
          <div class="carousel-caption">
          <h1>Madebymom</h1>
          <p>The best dishes in the world are 'Made by Mom'. To taste the best leave the rest and enter our nest where you taste the delicious dishes at the best price.</p>
          <a class="btn btn-lg btn-primary" href="#">Order now</a>
          </div>
        </div>
      </div>
</div>