{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="margin-top:60px;background-color:white">
        <div class="col-sm-12 col-md-10 col-md-offset-1 table-responsive" id="no-more-tables">
        	<div class="page-header">
        		<h3 style="text-align:center">Your Food Cart</h3>
        	</div>
            {% if foods %}
            <table class="table table-hover " style="margin-top:10px">
                <thead>
                    <tr>
                        <th>Dish</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for dish in foods %}
                    <tr id="{{dish.food.id}}-table">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{dish.food.picture.url}}" style="width: 72px; height: 72px;"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{dish.food.name}}</h4>
                                <h5 class="media-heading"> by <a href="#">{{dish.food.served_by.name}}</a></h5>
                            </div>
                        </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" class="form-control quantity" value="{{dish.order_quantity}}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong class="price">&#8377; {{dish.food.price}}</strong></td>

                        <td class="col-sm-1 col-md-1 text-center"><strong class="total_price">&#8377; {% widthratio dish.order_quantity 1 dish.food.price %}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger remove" data-id="{{dish.food.id}}">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong id="cart-price"></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Coupon Code</h5></td>
                        <td><input type="email" class="form-control"  value="{{dish.order_quantity}}"></td>
                        <td class="text-right">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Apply Coupon
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Place Order<span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>

            <div class=" alert alert-success" id="empty-cart" style="text-align:center;display:none">
                <h3> Your Cart seems Empty </h3>
                <a class="btn btn-warning" href="/"> 
                 <span class="glyphicon glyphicon-shopping-cart"></span>    Click here to Order
                </a>

            </div>

            {% else %}

            <div class=" alert alert-success" style="text-align:center">
                <h3> Your Cart seems Empty </h3>
                <a class="btn btn-warning" href="/"> 
                 <span class="glyphicon glyphicon-shopping-cart"></span>    Click here to Order
                </a>

            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'cart.js' %}"></script>
{% endblock %}