{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

      <!-- Three columns of text below the carousel -->
    <div class="row">
	{% for food in foods %}
	    <div class="col-md-4 col-lg-4 col-sm-6 col-border-bs">
		    <div class="card">
			   <div class="card-media">
			         <img  src="{{food.picture.url}}" alt="media"/>
			         <div class="rr"></div>
			         <div class="rating-box">10</div>
			        <div class="hd-text">
			            <h3 class="food-name item_name">{{food.name}}</h3>
			        </div>
			   </div>
			   	<div class="card-heading image clearfix">
			      <img src="{{food.served_by.picture.url}}" alt=""/>
			      <div class="card-heading-header">
			         <h3>{{food.served_by.name}}</h3>
			         <span>{{food.hash_tags}}</span>

			      </div>
  			      <img  style="display:inline-block;width: 25px; height: 25px;margin-top:5px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;" class="pull-right img-resposnive item_image"  alt="64x64"  src=
  			      {% if food.type_of_diet == 'VG' %}
  			      "{% static 'img/veg.jpg' %}">
  			      {% else %}
  			      "{% static 'img/non-veg.jpg' %}">
  			      {% endif %}
			   </div>

			   <div class="card-actions clearfix">
			   	  <button class="btn item_price" > Rs. {{food.price}} </button>
			      <a data-toggle="collapse" data-target="#c{{ forloop.counter0 }}-comments"  class="btn btn-primary" >View details &raquo;</a>


				<div class="input-group pull-right" style="width:80px">
			          <span class="input-group-btn">
			              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
			                <i class="glyphicon glyphicon-minus"></i>
			              </button>
			              <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
			                  <i class="glyphicon glyphicon-plus"></i>
			              </button>
			          </span>
				</div>

			   </div>
			   <div class="card-comments">
			      <div id="c{{ forloop.counter0 }}-comments" class="comments collapse">
			         <div class="media">
			            <div class="media-body">
			               <h4 class="media-heading">Description</h4>
			               <p>{{food.description |safe}}</p>
			            </div>
			         </div>
			      </div>
			   </div>

			</div>
		</div>
		 	{% if forloop.counter|divisibleby:3 %}
			</div>
			<div class="row">
			{% endif %}
	{% endfor %}


	</div>



{% endblock %}